// buttons
button
  display: inline-block
  -webkit-appearance: none
  border: 0
  box-shadow: none
  cursor: pointer
  &:focus
    outline: none

.btn
  display: inline-block
  position: relative
  text-align: center
  cursor: pointer
  transition: .25s $ease
  &:focus, &:active
    outline: none
  &--block
    display: block
    width: 100%
  &--iconed
    .ico, .icon
      position: absolute
      left: 17px
      top: 50%
      vertical-align: middle
      margin-right: 12px
      font-size: 14px
      transform: translateY(-55%)
    .ico-checkmark
      font-size: 9px
    .ico-refresh
      font-size: 22px
      transition: .3s $ease
    .ico-pencil
      font-size: 18px
    .ico-user
      font-size: 20px
      left: 14px
    .ico-dollar-sign
      font-size: 18px
    .ico-rocket
      font-size: 19px
      left: 15px

    span
      display: inline-block
      margin-left: 27px
      // transform: translateY(1px)
    &:hover
      .ico-refresh
        transform: translateY(-55%) rotate(320deg)

.btn-outline
  color: $colorBlue
  border: 1px solid $colorBlue
  background-color: transparent
  font-size: 12px
  font-weight: 700
  padding: 13px 17px
  text-transform: uppercase
  border-radius: 30px
  &:hover
    background-color: $colorBlue
    color: white
  &--white
    color: white
    border-color: white
    // border-color: $colorBlue
    &:hover
      // background-color: white
  &--muted
    color: #848E99
    border-color: #848E99
    &:hover
      background-color: #848E99
      color: white
  &--red
    color: $colorRed
    border-color: $colorRed
    &:hover
      background-color: $colorRed
      color: white

.btn-primary
  color: white
  border: 1px solid transparent
  background-color: $colorBlue
  font-size: 12px
  font-weight: 700
  padding: 13px 17px
  text-transform: uppercase
  border-radius: 30px
  &:hover
    background-color: transparent
    color: $colorBlue
    border-color: $colorBlue

  &--red
    background: $colorRed
    color: white

  &--violet
    color: white
    background: #8848FE
    &:hover

  &[disabled]
    background: #C6CCD2
    pointer-events: none


.btn-circle
  flex: 0 0 auto
  border-radius: 50%
  size: 40px
  background: transparent
  box-shadow: none
  border: 1px solid #DDE1E6
  display: flex
  align-items: center
  justify-content: center
  color: $colorBlue
  font-size: 0
  &:hover
    background: $colorBlue
    color: white
    border-color: $colorBlue
  .ico
    font-size: 16px
    &-gear
      font-size: 16px
    &-camera-add
      font-size: 20px
    &-more
      font-size: 18px

  &--white
    border-color: white
    background: white
  &--black50
    border-color: rgba(black, .5)
    color: white
    background: rgba(black, .5)
    &:hover
      background: rgba(black, .75)
      border-color: rgba(black, .75)
