h1, h2, h3, h4
  font-weight: 500
  margin: .75em 0
  line-height: 1.25
  font-family: $defaultFamily


.h3-title
  font-size: 24px
  font-weight: 700

.t-secondary
  font-family: $roboto
  font-size: 14px
  line-height: 1.42
  color: $fontColorGray

.t-center
  text-align: center
