.sidebar
  flex: 0 0 225px
  max-width: 225px
  min-width: 1px
  min-height: 0
  // get stretched from the page component
  display: flex
  flex-direction: column
  &__wrapper
    flex: 1 1 auto
    display: flex
    flex-direction: column
    padding: 30px 0
  &__logo
    display: inline-block
    text-align: center

  &__user
    margin: 30px 0

  &__featured

  &__featured-cta

  &__footer
    display: flex
    align-items: center
    flex-wrap: wrap
    margin-top: 15px
    margin-left: -5px
    margin-right: -5px
    a
      display: inline-block
      padding: 5px
      flex: 0 0 auto
      font-size: 13px
      font-weight: 500
      color: #828E9A
      transition: .25s $ease
      &:hover
        color: $colorBlue


// intro section for guest user
.new-user
  text-align: center
  &__title
    font-size: 24px
  &__message
    margin: 15px 0 25px
    span
      font-weight: 500
      color: $fontColor
  &__cta
    .btn
      margin: 15px 0

  &__socials
    margin-top: 10px
  // moved to separate sass file
  .social-list
    margin-top: 15px


// authenticated user
.user-panel
  &__scope
    display: flex

  &__scope-contents
    margin-left: 20px

  &__name
    font-family: $defaultFamily
    font-weight: 500
    font-size: 16px

  &__location
    display: flex
    margin-top: 5px
    .ico
      font-size: 17px
      color: $colorBlue
    span
      display: inline-block
      color: $grayColor
      font-size: 14px
      margin-left: 8px
      transform: translateY(3px)

  &__actions
    display: flex
    margin: 20px -10px 15px

  &__menu
    margin: 15px 0


.panel-action
  flex: 0 1 50%
  max-width: 50%
  padding: 0 10px
  position: relative
  cursor: pointer
  text-align: center
  &__icon
    position: relative
    size: 40px
    display: flex
    align-items: center
    justify-content: center
    margin-left: auto
    margin-right: auto
    border-radius: 50%
    background: #FFFFFF
    box-shadow: 0 1px 2px 0 rgba(106,117,129,0.10)
  &__name
    margin-top: 8px
    font-family: $roboto
    font-size: 11px
    color: #6C7580
  &__counter
    position: absolute
    left: -5px
    top: -5px
    z-index: 1
    display: flex
    align-items: center
    justify-content: center
    size: 20px
    color: white
    border-radius: 50%
    border: 2px solid #F6F7FB
    background: $gradient2
    span
      font-size: 10px
      font-weight: 700
      text-align: center

  &--up
    .panel-action
      &__icon
        .ico
          font-size: 19px
          fill: url('#gradient2')
  &--vip
    .panel-action
      &__icon
        .ico
          font-size: 14px
          color: $colorYellow


+r($desktop)
  .sidebar
    position: fixed
    top: 0
    left: 0
    bottom: 0
    z-index: 9
    background: #F6F7FB
    max-width: 315px
    box-shadow: 0 4px 8px 0 rgba(95,95,95,0.10)
    transform: translate(-100%,0)
    pointer-events: none
    transition: .25s $ease
    &.is-active
      transform: none
      pointer-events: all
    &__wrapper
      overflow-y: scroll
      padding-left: 15px
      padding-right: 15px
    &__logo
      display: none

    &__featured
      display: none
    &__footer
      display: none
