.p-head-gal
  padding: 24px 0px 0
  margin-left: -24px
  margin-right: -24px

  &__thumbs
    &-prev, &-next
      position: absolute
      z-index: 2
      top: 50%
      size: 32px
      background: rgba(black, .5)
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.10)
      border-radius: 50%
      display: flex
      align-items: center
      justify-content: center
      text-align: center
      color: white
      font-size: 0
      transform: translateY(-50%)
      transition: .25s $ease
      .ico
        font-size: 10px
      &:hover
        background: rgba(black, .75)
      &.swiper-button-disabled
        opacity: .5


    &-prev
      left: 32px

    &-next
      right: 32px

  &__thumb
    flex: 0 0 110px
    size: 110px
    position: relative
    z-index: 1
    overflow: hidden
    font-size: 0
    cursor: pointer
    border-radius: 4px
    background: #848E99
    &::after
      display: inline-block
      content: ' '
      position: absolute 0
      background: rgba(white, .7)
      opacity: 0
      transition: .25s $ease
      pointer-events: none
    img
      position: absolute
      top: 0
      left: 0
      min-height: 100%
      min-width: 100%
      // width: 100%

    &-remove, &-add
      position: absolute
      display: flex
      align-items: center
      justify-content: center
      text-align: center
      z-index: 2
      bottom: 8px
      right: 8px
      background: white
      size: 24px
      border-radius: 50%
      font-size: 0
      cursor: pointer
      color: $colorBlue
      transition: .25s $ease
      &:hover
        background: rgba(white, .85)

    &-remove
      opacity: 0
      pointer-events: none
      .ico
        font-size: 10px
    &-add
      .ico
        font-size: 13px

    &:hover, &.is-active
      &::after
        opacity: 1
    &.is-editable
      &:hover, &.is-active
        &::after
          opacity: 0
    &.has-image
      .p-head-gal__thumb
        &-remove
          pointer-events: all
          opacity: 1
        &-add
          pointer-events: none
          opacity: 0



  &__full-wrapper
    position: relative
    z-index: 1
    margin-top: 16px
    margin-left: 24px
    margin-right: 24px
    border-radius: 4px
    overflow: hidden
    color: white
    background: #333333
    box-shadow: 0 4px 8px 0 rgba(95,95,95,0.10)
    border-radius: 4px
  &__full
    position: relative
    // margin-top: 16px
    // max-height: 500px
    &::after
      display: inline-block
      content: ' '
      position: absolute
      z-index: 1
      top: 0
      left: 0
      right: 0
      opacity: 0.5
      height: 110px
      background-image: linear-gradient(0deg, rgba(0,0,0,0.00) 0%, #000000 100%)
    &-prev, &-next
      position: absolute
      z-index: 2
      background: transparent
      top: 0
      bottom: 0
      width: 50%
      font-size: 0
      opacity: 0
      color: white
      display: flex
      flex-direction: column
      justify-content: center
      padding: 10px 32px
      transition: .25s $ease
      .ico
        font-size: 11px
        filter: drop-shadow(0 2px 4px 0 rgba(0,0,0,0.30))
      &.swiper-button-disabled
        opacity: .5

    &-prev
      left: 0px
      align-items: flex-start
      transform: translateX(-8px)
    &-next
      right: 0px
      align-items: flex-end
      transform: translateX(8px)

    &:hover
      .p-head-gal__full
        &-next, &-prev
          opacity: 1
          transform: translateX(0)


  &__image
    position: relative
    flex: 0 0 auto
    font-size: 0
    height: 500px
  &__image-main
    img
      position: absolute
      z-index: 2
      top: 50%
      left: 50%
      height: 100%
      transform: translate(-50%,-50%)
  &__image-blur
    pointer-events: none
    user-select: none
    opacity: .5
    // filter: blur(8px)
    filter: blur(15px)
    img
      position: absolute
      z-index: 1
      top: 50%
      left: 50%
      // width: 100%
      height: 150%
      transform: translate(-50%,-50%)

  &__close-full
    position: absolute
    top: 30px
    right: 20px
    z-index: 3
    size: 24px
    display: flex
    align-items: center
    justify-content: center
    font-size: 0
    cursor: pointer
    transition: .25s $ease
    .ico
      font-size: 11px
    &:hover
      transform: scale(1.2)

  &__counter
    position: absolute
    display: flex
    align-items: center
    text-align: center
    z-index: 3
    bottom: 30px
    left: 24px
    background: rgba(black, .5)
    border-radius: 30px
    padding: 12px 15px
    color: white
    font-size: 14px
    pointer-events: none
    .ico

    span
      display: inline-block
      margin-left: 8px

  &__abuse
    position: absolute
    z-index: 3
    right: 24px
    bottom: 30px


// disable swiper when in edit mode
.is-in-edit-mode
  .p-head-gal__thumbs
    .swiper-wrapper
      flex-wrap: wrap
      padding-left: 16px
      padding-right: 16px
      width: calc(100% - 32px)
      // justify-content: center
      transform: translate3d(0,0,0) !important
    &-prev, &-next
      opacity: 0
      pointer-events: none

  .p-head-gal__thumb
    margin: 0 8px 16px !important
