.ntf

.notification



// blank notifications
.ntf-info
  min-height: calc(100vh - 50px - 24px - 24px)
  display: flex
  flex-direction: column
  &__holder
    margin: auto
    max-width: 465px

  .ico
    font-size: 80px
    fill: #C7CCD1
    margin-bottom: 25px

  .btn
    margin-top: 16px
