.events
  flex: 1 1 auto
  display: flex
  flex-direction: column
  margin-top: 10px
  &__header
    display: flex
    align-items: center
    &--bordered
      border-bottom: 1px solid #DDE1E6
      margin-bottom: 24px
  &__header-cta
    margin-left: auto

  &__header-total
    margin-left: auto
    font-size: 16px
    color: $fontColorGray
    font-family: $roboto

  &__header-filter
    margin-left: auto
    display: flex
    align-items: center
    span
      position: relative
      font-size: 16px
      font-weight: 500
      display: inline-block
      padding: 10px 15px
      cursor: pointer
      &.is-active
        color: $colorBlue
      &::after
        display: inline-block
        content: ' '
        position: absolute
        top: 0
        bottom: 0
        right: 0
        width: 1px
        z-index: 2
        pointer-events: none
        background: #DDE1E6
      &:last-child
        &::after
          display: none
    &--bordered
      span
        padding-left: 12px
        padding-right: 12px
        z-index: 3
        &::after
          // bottom indicator
          top: auto
          bottom: -15px
          left: 12px
          right: 12px
          width: auto
          height: 1px
          opacity: 0
          background: $colorBlue
          transition: opacity .25s $ease
        &:last-child
          margin-right: -12px
          &::after
            display: inline-block
        &.is-active
          &::after
            opacity: 1

  &__datefilter
    font-size: 0
    &-toggler
      transform: translateY(.1em)
      transition: color .25s $ease
      .ico
        font-size: 18px
    &:hover, &.is-active
      &::after
        bottom: -13.5px
      .events__datefilter-toggler
        color: $colorBlue

    &-calendar
      position: absolute
      z-index: 3
      top: 55px
      right: 12px
      opacity: 0
      pointer-events: none
      transform: translate(20px,0)
      transition: opacity .25s $ease, transform .25s $ease
      &.is-active
        pointer-events: all
        transform: translate(0,0)
        opacity: 1


  &__grid
    flex: 1 1 auto
    display: flex
    flex-direction: column

    // contains card
    margin-bottom: 40px

  &__load-more
    text-align: center
    margin-top: auto
    padding-top: 30px

  &__f-people
    margin: 0px 0

  &__f-people-wrapper
    display: flex
    margin-top: 25px
    margin-left: -8px
    margin-right: -8px

  &__f-people-col
    flex: 0 1 25%
    padding-left: 8px
    padding-right: 8px
