.filters
  background: #FFFFFF
  box-shadow: 0 4px 8px 0 rgba(95,95,95,0.10)
  border-radius: 0 0 4px 4px
  width: 100%
  &__top
    padding: 25px
    display: flex
    align-items: center
    .btn-primary
      flex: 0 0 auto
    .ui-input
      flex: 1 1 auto
      margin-left: 30px

  &__toggle
    margin-left: 25px
    .ico
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%,-50%)
      transition: opacity .25s $ease
      &-close
        opacity: 0
        font-size: 12px
      &-filter
        font-size: 17px

  &__options
    // display: none
    // display: flex
    &-collapse
      border-top: 1px solid #F4F7FB
      padding: 25px 25px
      margin-left: -20px
      margin-right: -20px
      display: flex
  &__options-col
    position: relative
    z-index: 2
    flex: 0 1 33.3%
    max-width: 33.3%
    padding: 5px 20px
    &:nth-child(2)
      &::after, &::before
        display: inline-block
        content: ' '
        position: absolute
        top: 0
        bottom: 0
        width: 1px
        background: #EFEFEF
      &::after
        left: 0px
      &::before
        right: 0px
    .ui-group
      &:first-child
        margin-bottom: 10px

  &__buttons
    display: flex
    padding-top: 18px
    justify-content: space-around

  &__categories
    border-top: 1px solid #F4F7FB
    padding: 30px 0

  &__slider
    position: relative

  &__slider-next, &__slider-prev
    display: inline-block
    position: absolute
    z-index: 2
    top: 27px
    font-size: 12px
    color: $colorBlue
    padding: 10px
    background: transparent
    transition: .25s $ease
    &:hover
      color: $fontColor
    &.swiper-button-disabled
      opacity: .5
      cursor: not-allowed
      &:hover
        color: $colorBlue
  &__slider-next
    right: 5px
  &__slider-prev
    left: 5px


  &.is-active
    .filters__toggle
      .ico-close
        opacity: 1
      .ico-filter
        opacity: 0
    // .filters__options
    //   display: flex

.filter-category
  flex: 0 0 120px
  display: flex
  flex-direction: column
  max-width: 120px
  cursor: pointer
  &__icon
    position: relative
    size: 80px
    margin-left: auto
    margin-right: auto
    // border: 2px solid #F3F7FB
    background: #F3F7FB
    border-radius: 50%
    display: flex
    align-items: center
    justify-content: center
    color: $grayColor
    font-size: 0
    transition: .25s $ease
    &::before
      display: inline-block
      content: ' '
      position: absolute 0
      border-radius: 50%
      background: $gradient
      z-index: 1
      transition: .25s $ease
      opacity: 0
    &::after
      // white bg emulation
      display: inline-block
      content: ' '
      position: absolute 2px
      z-index: 2
      border-radius: 50%
      background: white
      transition: .25s $ease
    .ico
      position: relative
      z-index: 3
      transform: translate3d(0,0,0)
      // like a default
      font-size: 40px
      &-filter-category
        &-all
          font-size: 38px
        &-volonter
          font-size: 34px
        &-travel
          font-size: 39px
        &-movie
          font-size: 38px
        &-dating
          font-size: 36px
        &-fitness
          font-size: 38px
        &-lang
          font-size: 34px
        &-culture
        &-hobby
        &-entertainment
        &-food
        &-childs
          font-size: 33px
        &-nightlife
        &-education
          font-size: 37px
        &-activelife
          font-size: 33px
        &-couchserfing
          font-size: 39px
  &__name
    text-align: center
    font-size: 14px
    font-weight: 500
    margin-top: 20px
    transition: .25s $ease

  &__selected
    position: absolute
    top: 2px
    right: 2px
    z-index: 3
    font-size: 0
    border: 2px solid white
    border-radius: 50%
    transition: .25s $ease
    pointer-events: none
    opacity: 0
    .ico
      font-size: 7px
      fill: white !important
  &:hover, &.is-active
    .filter-category
      &__name
        // color: $colorBlue
      &__icon
        // hide gray border
        // background: transparent
        &::before
          // show gadient
          opacity: 1
        &::after
          transform: scale(1.02)
          // top: 1px
          // bottom: 1px
          // right: 1px
          // left: 1px
        .ico
          fill: url('#gradient1')

  &.is-active
    .filter-category
      &__selected
        opacity: 1
