.filters
  background: #FFFFFF
  box-shadow: 0 4px 8px 0 rgba(95,95,95,0.10)
  border-radius: 4px
  width: 100%
  &__top
    padding: 25px
    display: flex
    align-items: center
    .btn-primary
      flex: 0 0 auto
    .ui-input
      flex: 1 1 auto
      margin-left: 30px

  &__clear
    margin-left: 25px
    border: 1px solid #DCE1E7
    border-radius: 50%
    size: 40px
    display: flex
    align-items: center
    justify-content: center
    font-size: 0
    cursor: pointer
    color: $colorBlue
    transition: .25s $ease
    .ico
      font-size: 12px
    &:hover
      background-color: $colorBlue
      color: white
      border-color: $colorBlue

  &__options
    border-top: 1px solid #F4F7FB
    padding: 25px 25px
    margin-left: -8px
    margin-right: -8px
    display: flex
  &__options-col
    position: relative
    z-index: 2
    flex: 0 1 auto
    padding: 5px 8px
    &--gender
      flex-basis: 25%

    &--range
      flex-basis: 25%

    &--age
      flex-basis: 10%

    &--languages
      flex-basis: 25%

    &--clear
      flex: 0 0 auto
      align-self: center
      transform: translateY(10px)


  &__categories
    border-top: 1px solid #F4F7FB
    padding: 30px 0

  &__slider
    position: relative

  &__slider-next, &__slider-prev
    display: inline-block
    position: absolute
    z-index: 2
    top: 27px
    font-size: 12px
    color: $colorBlue
    padding: 10px
    background: transparent
    transition: .25s $ease
    &:hover
      color: $fontColor


  &__slider-next
    right: 5px
  &__slider-prev
    left: 5px

.filter-category
  flex: 0 0 120px
  display: flex
  flex-direction: column
  max-width: 120px
  &__icon
    size: 80px
    margin-left: auto
    margin-right: auto
    border: 2px solid #F3F7FB
    border-radius: 50%
    display: flex
    align-items: center
    justify-content: center
    color: $grayColor
    font-size: 0
    .ico
      font-size: 40px
  &__name
    text-align: center
    font-size: 14px
    font-weight: 500
    margin-top: 20px
