.gradients-svg
  width: 0.1px
  height: 0.1px
  opacity: 0
  pointer-events: none
  position: absolute
  bottom: 0
  right: 0
  overflow: hidden

// tmp store uploaded image as base64
// (not API uploader yet)
.cover-bg-image
  position: absolute 0
  background-repeat: no-repeat
  background-position: center center
  background-size: cover

.avatar
  position: relative
  z-index: 1
  overflow: hidden
  border-radius: 50%
  flex: 0 0 40px
  size: 40px
  &--small
    size: 32px
    flex-basis: 32px
  &--medium
    size: 48px
    flex-basis: 48px
  &--big
    size: 72px
    flex-basis: 72px
  img
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    width: 102%
  &--glow
    box-shadow: 0 0 20px 0 rgba(67,180,254,0.40)


// avatar with gradient outline
.avatar-outline
  position: relative
  size: 184px
  border-radius: 50%
  border: 1px solid #DDE1E6
  display: flex
  align-items: center
  justify-content: center
  font-size: 0
  border: 1px solid transparent
  &--small
    size: 48px
    .avatar-outline__wrapper
      size: 44px
    .avatar-outline__holder
      size: 40px

  // active state
  &::after
    display: inline-block
    position: absolute 0
    z-index: 1
    content: ' '
    background: $gradient
    border-radius: 50%
    transition: .25s $ease

  &__wrapper
    position: relative
    z-index: 2
    size: 180px
    display: flex
    align-items: center
    justify-content: center
    background: white
    border-radius: 50%
    overflow: hidden
  &__holder
    position: relative
    size: 168px
    border-radius: 50%
    overflow: hidden
    img
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%,-50%)
      width: 100%
    span
      display: block
      position: absolute 0
      background-repeat: no-repeat
      background-position: center center
      background-size: cover


.card-date
  flex: 0 0 40px
  size: 40px
  margin-left: auto
  display: flex
  flex-direction: column
  border-radius: 8px
  span
    display: block
    &:first-child
      font-family: $defaultFamily
      font-weight: 700
      font-size: 18px
    &:last-child
      font-size: 11px

  &__wrapper
    flex: 1 1 auto
    position: relative
    display: flex
    flex-direction: column
    border: 1px solid #DDE1E6
    border-radius: 8px
    // overflow: hidden
    &::after
      display: inline-block
      content: ''
      position: absolute -1px
      z-index: 1
      border-radius: 8px
      background: $gradient
      opacity: 0
      transition: .25s $ease
  &__content
    position: absolute 0px
    z-index: 2
    background: white
    border-radius: 7px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    text-align: center

  &.is-tomorrow
    .card-date__wrapper
      &::after
        opacity: 1
