.ico-arrow-left {
  width: 0.67em;
  height: 1em;
  fill: #394258;
}
.ico-arrow-right {
  width: 0.67em;
  height: 1em;
  fill: #394258;
}
.ico-bookmark {
  width: 0.78em;
  height: 1em;
  fill: #000;
}
.ico-checkmark {
  width: 1.29em;
  height: 1em;
  fill: #FFF;
}
.ico-close {
  width: 1em;
  height: 1em;
  fill: #000;
}
.ico-facebook {
  width: 0.5em;
  height: 1em;
  fill: #000;
}
.ico-filter-category-1 {
  width: 0.97em;
  height: 1em;
  fill: #000;
}
.ico-filter-category-10 {
  width: 1.03em;
  height: 1em;
  fill: #000;
}
.ico-filter-category-11 {
  width: 1em;
  height: 1em;
  fill: #000;
}
.ico-filter-category-12 {
  width: 1em;
  height: 1em;
  fill: #000;
}
.ico-filter-category-13 {
  width: 1em;
  height: 1em;
  fill: #000;
}
.ico-filter-category-14 {
  width: 1.21em;
  height: 1em;
  fill: #000;
}
.ico-filter-category-15 {
  width: 1em;
  height: 1em;
  fill: #000;
}
.ico-filter-category-16 {
  width: 1.05em;
  height: 1em;
  fill: #000;
}
.ico-filter-category-17 {
  width: 1.18em;
  height: 1em;
  fill: #000;
}
.ico-filter-category-18 {
  width: 1.18em;
  height: 1em;
  fill: #000;
}
.ico-filter-category-19 {
  width: 1.74em;
  height: 1em;
  fill: #000;
}
.ico-filter-category-2 {
  width: 0.95em;
  height: 1em;
  fill: #000;
}
.ico-filter-category-3 {
  width: 0.97em;
  height: 1em;
  fill: #000;
}
.ico-filter-category-4 {
  width: 1em;
  height: 1em;
  fill: #000;
}
.ico-filter-category-5 {
  width: 1.03em;
  height: 1em;
  fill: #000;
}
.ico-filter-category-6 {
  width: 1em;
  height: 1em;
  fill: #000;
}
.ico-filter-category-7 {
  width: 1.06em;
  height: 1em;
  fill: #000;
}
.ico-filter-category-8 {
  width: 1em;
  height: 1em;
  fill: #000;
}
.ico-filter-category-9 {
  width: 1em;
  height: 1em;
  fill: #000;
}
.ico-instagram {
  width: 1em;
  height: 1em;
  fill: #000;
}
.ico-more {
  width: 4.5em;
  height: 1em;
  fill: #000;
}
.ico-plus {
  width: 1em;
  height: 1em;
  fill: #000;
}
.ico-search {
  width: 1em;
  height: 1em;
  fill: #000;
}
.ico-select-arrow {
  width: 1.5em;
  height: 1em;
  fill: #00A9FF;
}
.ico-share {
  width: 0.9em;
  height: 1em;
  fill: #000;
}
.ico-twitter {
  width: 1.29em;
  height: 1em;
  fill: #000;
}
.ico-vkontakte {
  width: 1.8em;
  height: 1em;
  fill: #000;
}
