.ico-facebook {
  width: 0.5em;
  height: 1em;
  fill: #000;
}
.ico-instagram {
  width: 1em;
  height: 1em;
  fill: #000;
}
.ico-twitter {
  width: 1.29em;
  height: 1em;
  fill: #000;
}
.ico-vkontakte {
  width: 1.8em;
  height: 1em;
  fill: #000;
}
