.ico-add-attachment {
  width: 1em;
  height: 1em;
  fill: #00A9FF;
}
.ico-add {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.ico-arrow-left {
  width: 0.67em;
  height: 1em;
  fill: #394258;
}
.ico-arrow-right {
  width: 0.67em;
  height: 1em;
  fill: #394258;
}
.ico-bell {
  width: 1em;
  height: 1em;
  fill: #000;
}
.ico-black-list {
  width: 1em;
  height: 1em;
  fill: #00A9FF;
}
.ico-bookmark {
  width: 0.78em;
  height: 1em;
  fill: #000;
}
.ico-camera-add {
  width: 1.1em;
  height: 1em;
  fill: #979797;
}
.ico-camera {
  width: 1.2em;
  height: 1em;
  fill: #FFF;
}
.ico-checkmark-circle {
  width: 1em;
  height: 1em;
  fill: #000;
}
.ico-checkmark {
  width: 1.29em;
  height: 1em;
  fill: #FFF;
}
.ico-close {
  width: 1em;
  height: 1em;
  fill: #000;
}
.ico-comments {
  width: 1.25em;
  height: 1em;
  fill: #979797;
}
.ico-credit-card {
  width: 1.43em;
  height: 1em;
  fill: #000;
}
.ico-crown {
  width: 1.43em;
  height: 1em;
  fill: #000;
}
.ico-dislike {
  width: 1.13em;
  height: 1em;
  fill: #000;
}
.ico-dollar-sign {
  width: 0.61em;
  height: 1em;
  fill: #00A9FF;
}
.ico-eye {
  width: 1.67em;
  height: 1em;
  fill: #848E99;
}
.ico-facebook {
  width: 0.5em;
  height: 1em;
  fill: #000;
}
.ico-filter {
  width: 1.06em;
  height: 1em;
  fill: #D8D8D8;
}
.ico-flag {
  width: 0.88em;
  height: 1em;
  fill: #FFF;
}
.ico-gear {
  width: 1em;
  height: 1em;
  fill: #979797;
}
.ico-gplus {
  width: 1.5em;
  height: 1em;
  fill: #000;
}
.ico-instagram {
  width: 1em;
  height: 1em;
  fill: #000;
}
.ico-location {
  width: 0.7em;
  height: 1em;
  fill: #979797;
}
.ico-lock {
  width: 0.78em;
  height: 1em;
  fill: #000;
}
.ico-logout {
  width: 1.06em;
  height: 1em;
  fill: #000;
}
.ico-menu-bookmarks {
  width: 0.94em;
  height: 1em;
  fill: #241F20;
}
.ico-menu-events {
  width: 1em;
  height: 1em;
  fill: #241F20;
}
.ico-menu-invite {
  width: 1em;
  height: 1em;
  fill: #000;
}
.ico-menu-messages {
  width: 1.07em;
  height: 1em;
  fill: #241F20;
}
.ico-menu-my-events {
  width: 1em;
  height: 1em;
  fill: #241F20;
}
.ico-menu-news {
  width: 1em;
  height: 1em;
  fill: #000;
}
.ico-menu-notifications {
  width: 0.88em;
  height: 1em;
  fill: #241F20;
}
.ico-more {
  width: 0.22em;
  height: 1em;
  fill: #000;
}
.ico-notification-blank {
  width: 0.8em;
  height: 1em;
  fill: #C7CCD1;
}
.ico-notification-disabled {
  width: 0.8em;
  height: 1em;
  fill: none;
}
.ico-odnoklassniki {
  width: 0.67em;
  height: 1em;
  fill: #000;
}
.ico-pencil {
  width: 1em;
  height: 1em;
  fill: #000;
}
.ico-phone {
  width: 1em;
  height: 1em;
  fill: #000;
}
.ico-plus {
  width: 1em;
  height: 1em;
  fill: #000;
}
.ico-profile {
  width: 1em;
  height: 1em;
  fill: #00A9FF;
}
.ico-refresh {
  width: 0.73em;
  height: 1em;
  fill: #000;
}
.ico-remove-attachment {
  width: 1em;
  height: 1em;
  fill: #00A9FF;
}
.ico-reply {
  width: 1.09em;
  height: 1em;
  fill: #000;
}
.ico-rocket {
  width: 1em;
  height: 1em;
  fill: #848E99;
}
.ico-rss {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.ico-search {
  width: 1em;
  height: 1em;
  fill: #000;
}
.ico-select-arrow {
  width: 1.5em;
  height: 1em;
  fill: #00A9FF;
}
.ico-sent {
  width: 1.13em;
  height: 1em;
  fill: #000;
}
.ico-share {
  width: 0.9em;
  height: 1em;
  fill: #848E99;
}
.ico-smile-sad {
  width: 1em;
  height: 1em;
  fill: #C7CCD1;
}
.ico-star-fill {
  width: 1.05em;
  height: 1em;
  fill: #000;
}
.ico-star-stroke {
  width: 1.05em;
  height: 1em;
  fill: #000;
}
.ico-time {
  width: 1em;
  height: 1em;
  fill: #979797;
}
.ico-tombstone {
  width: 0.97em;
  height: 1em;
  fill: #848E99;
}
.ico-tooltip-info {
  width: 1em;
  height: 1em;
  fill: #00A9FF;
}
.ico-twitter {
  width: 1.29em;
  height: 1em;
  fill: #000;
}
.ico-up-arrow {
  width: 1em;
  height: 1em;
  fill: #000;
}
.ico-user {
  width: 1em;
  height: 1em;
  fill: #979797;
}
.ico-vkontakte {
  width: 1.8em;
  height: 1em;
  fill: #000;
}
.ico-filter-category-activelife {
  width: 1.18em;
  height: 1em;
  fill: #000;
}
.ico-filter-category-all {
  width: 0.97em;
  height: 1em;
  fill: #000;
}
.ico-filter-category-childs {
  width: 1.21em;
  height: 1em;
  fill: #000;
}
.ico-filter-category-couchserfing {
  width: 1em;
  height: 1em;
  fill: #000;
}
.ico-filter-category-culture {
  width: 1em;
  height: 1em;
  fill: #000;
}
.ico-filter-category-dating {
  width: 1.03em;
  height: 1em;
  fill: #000;
}
.ico-filter-category-education {
  width: 1.05em;
  height: 1em;
  fill: #000;
}
.ico-filter-category-entertainment {
  width: 1em;
  height: 1em;
  fill: #000;
}
.ico-filter-category-fitness {
  width: 1em;
  height: 1em;
  fill: #000;
}
.ico-filter-category-food {
  width: 1em;
  height: 1em;
  fill: #000;
}
.ico-filter-category-hobby {
  width: 1em;
  height: 1em;
  fill: #000;
}
.ico-filter-category-lang {
  width: 1.06em;
  height: 1em;
  fill: #000;
}
.ico-filter-category-movie {
  width: 1em;
  height: 1em;
  fill: #000;
}
.ico-filter-category-nightlife {
  width: 1em;
  height: 1em;
  fill: #000;
}
.ico-filter-category-travel {
  width: 0.97em;
  height: 1em;
  fill: #000;
}
.ico-filter-category-volonter {
  width: 1.18em;
  height: 1em;
  fill: #000;
}
